<section data-ng-controller="ClassesController">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<h1>CodeLily is planning database classes for the summer!</h1>
	<h3>Stay tuned for more information!</h3>
      </div>
    </div>
  </div>

  <br>

<!--
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
	<dl>
	  <dt><h2>Intro to HTML</h2></dt>
	  <dt>When</dt>
	  <dd>Saturday March 21st 10:00 AM - 1:00 PM</dd>

	  <dt>Where</dt>
	  <dd>Herald Building Conference Room 308 | 1155 N State Street</dd>

	  <dt>Cost</dt>
	  <dd>By donation</dd>
	</dl>
	<!--<a target="_blank" class="btn btn-primary" href="https://goo.gl/forms/4lkTe3zI6B">Sign Up For This Class!</a>
	<h3 class="btn btn-primary disabled">Class full</h3>
      </div>

      <div class="col-xs-12 col-sm-6">
	<dl>
	  <dt><h2>Intro to JavaScript</h2></dt>
	  <dt>When</dt>
	  <dd>Saturday March 21st 2:00 PM - 5:00 PM</dd>

	  <dt>Where</dt>
	  <dd>Herald Building Conference Room 308 | 1155 N State Street</dd>

	  <dt>Cost</dt>
	  <dd>By donation</dd>
	</dl>
	<!--<a target="_blank" class="btn btn-primary" href="https://goo.gl/forms/MglpkpGI63">Sign Up For This Class!</a>
	<h3 class="btn btn-primary disabled">Class full</h3>
      </div>

    </div>
  </div>
-->

</section>
