<section class="container">
	<div class="row">
		<div class="col-xs-6 col-md-4 left-col">
			CodeLily &copy; 2015
		</div>
		<div class="col-md-4 hidden-xs center-col">
			<a href="mailto:helloworld@codelily.education">helloworld@codelily.education</a>
		</div>
		<div class="col-xs-6 col-md-4 right-col" style="line-eight: 10px;">
			<span>Powered By:</span>
			<a style="margin-left: 10px;" target="_blank" href="http://meanjs.org/"><img alt="MEAN.JS" width="75px" src="modules/core/img/brand/logo.png" /></a>
		</div>
	</div>
</section>