<section class="container">
	<div class="row">
		<div class="col-sm-4 left-col hidden-xs">
			<br>
		  <small>
		    Out in Science @WWU
		  </small>
		</div>
		<div class="col-sm-4 col-xs-6 center-col">
			<ul class="list-inline social-icons">
				<li><a target="_blank" href="https://facebook.com/outinscience"><i class="icon facebook fsize-28"></i></a></li>
				<li><a target="_blank" href="https://github.com/kyle-rader/outinscience.com"><i class="icon github fsize-28"></i></a></li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-4 right-col" style="line-eight: 10px;">
			<br />
			<span>Powered By</span>
			<a style="margin-left: 10px;" target="_blank" href="http://meanjs.org/"><img alt="MEAN.JS" width="75px" src="modules/core/img/brand/mean_logo.png" /></a>
		</div>
	</div>
</section>
