<div class="container-fluid" data-ng-controller="HeaderController">

  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/#!/" class="navbar-logo" alt="Out in Science Logo"><img src="/modules/core/img/brand/header-wide-small.png"></a>
  </div>

  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ><!--data-ng-if="menu.shouldRender(authentication.user);">-->
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">

      	<a href="#" ng-switch-when="dropdown" class="dropdown-toggle">
      	  <span data-ng-bind="item.title"></span>
      	</a>
      	<ul ng-switch-when="dropdown" class="dropdown-menu">
      	  <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{'active': $uiRoute}" >
      	    <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
      	  </li>
      	</ul>
	       <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
       </li>
    </ul>


    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
    	<li ui-route="/signup" ng-class="{active: $uiRoute}" class="li-rb-green">
    		<a href="/#!/signup">Join</a>
    	</li>
    	<li class="divider-vertical"></li>
    	<li ui-route="/signin" ng-class="{active: $uiRoute}" class="li-rb-yellow">
    		<a href="/#!/signin">Sign In</a>
    	</li>
    </ul>
    <ul class="nav navbar-nav navbar-right no-right-margin" data-ng-show="authentication.user">
    	<li class="dropdown li-rb-green">
    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    			<span data-ng-bind="authentication.user.displayName"></span>
    		</a>
    		<ul class="dropdown-menu">
    			<li>
    				<a href="/#!/settings/profile">Edit Profile</a>
    			</li>
    			<li data-ng-show="authentication.user.provider === 'local'">
    				<a href="/#!/settings/password">Change Password</a>
    			</li>
    			<li class="divider"></li>
    			<li>
    				<a href="/auth/signout">Signout</a>
    			</li>
    		</ul>
    	</li>
    </ul>


    <!--
    <form class="navbar-form navbar-right navbar-form-group" ng-submit="emailSubscribe()">
  	  <div class="form-group">
  	    <label for="joinMailingListEmail" class="sr-only">Email</label>
  	    <input type="email" class="form-control" id="joinMailingListEmail" placeholder="Email address" ng-model="formData.email">
      </div>
  	  <input class="btn btn-default" type="submit" value="Join the Mailing List">
  	</form>
    -->

  </nav>

  <!--
  <div class="alert alert-warning" role="alert" ng-show="formData.error">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-bind="formData.error"></span>
  </div>
  <div class="alert alert-success" role="alert" ng-show="formData.success">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <span class="sr-only">Success:</span>
      <span ng-bind="formData.success"></span>
  </div>
-->

</div>
