<section data-ng-controller="HomeController">

  <div class="container">
    <div class="row text-center">
      <img src="/modules/core/img/brand/logotype.svg" class="img-responsive landing-page-logo center-block">
      <h1 class="hidden-xs">A Computer Science and Web Development Education Studio</h1>
      <h2 class="hidden-lg hidden-md hidden-sm">A Computer Science and Web Development Education Studio</h2>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-xs-12">
	<h4 class="margin-top-10">Have Questions? Email us at <a href="mailto:helloworld@codelily.education">HelloWorld@CodeLily.education</a></h4>
	<br>
	<form ng-submit="emailSubscribe()">
	  <div class="input-group input-group">
	    <label for="joinMailingListEmail" class="sr-only">Email</label>
	    <input type="email" class="form-control" id="joinMailingListEmail" placeholder="Enter email" ng-model="formData.email">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="submit">Join the Mailing List</button>
	    </span>
	  </div>
	</form>
	<div class="alert alert-warning" role="alert" ng-show="formData.error">
  	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  	  <span class="sr-only">Error:</span>
  	  <span ng-bind="formData.error"></span>
	</div>
	<div class="alert alert-success" role="alert" ng-show="formData.success">
  	  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  	  <span class="sr-only">Success:</span>
  	  <span ng-bind="formData.success"></span>
	</div>
	<br>
	<p class="lead">
	  We believe everyone should have access to an open and collaborative learning environment.  Whether you already have a degree, feel undervalued in your current position, or simply want to know how to write code, CodeLily is here for you!
	</p>
      </div>

      <div class="col-sm-6 col-xs-12">
	<h3 class="hidden-xs text-center">CodeLily won Crowd Favorite at Bellingham PitchFest Feb 2015!</h3>
	<h4 class="hidden-lg hidden-md hidden-sm">CodeLily won Crowd Favorite at Bellingham PitchFest Feb 2015!</h4>
	<img src="/modules/core/img/team/team-pitchfest.png" class="img-responsive">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row text-center">
      
    </div>
  </div>

  <!--
      <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <div class="hexagon-wrapper hex-md">
	      <div class="purple-hex-bg hexagon"><span><i class="icon code"></i></span></div>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-4">
	    <div class="hexagon-wrapper hex-md">
	      <div class="green-hex-bg hexagon"><span><i class="icon earth"></i></span></div>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-4">
	    <div class="hexagon-wrapper hex-md">
	      <div class="red-hex-bg hexagon"><span><i class="icon heart"></i></span></div>
	    </div>
	  </div>
	</div>
      </div>
      -->
</section>
