<section data-ng-controller="HomeController">
	<div class="container">
		<div class="row">
			<h1 class="text-center super-big text-uppercase hidden-xs">CodeLily</h1>
			<h3 class="text-center text-uppercase visible-xs">CodeLily</h3>
		</div>
		<div class="row">
			<h5 class="text-center text-uppercase">Powered by</h5>
			<img alt="MEAN.JS" class="img-responsive center-block" width="200px" src="modules/core/img/brand/logo.png" />
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row text-center">
			<h4 class="no-text-transform">CodeLily is a computer science education studio with an emphasis on web development technologies.</h4>
			<p class="lead">We believe everyone should have access to an open and collaborative learning environment.  Whether you already have a degree, feel undervalued in your current position, or simply want to know how to write code, CodeLily is here for you!
			</p>
		</div>
	</div>
</section>