<section data-ng-controller="HomeController">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><strong>Out In Science</strong></h1>
      	<h3 class="hidden-xs text-center">A group devoted to the promotion and inclusion of LGBTQ+ in STEM!</h3>
      	<h4 class="hidden-lg hidden-md hidden-sm text-center">A group devoted to the promotion and inclusion of LGBTQ+ in STEM!</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="field-list">
          <li ng-repeat="(key, val) in fields" class="text-center">
            <i class="sci-icon {{key}}"><img src="/modules/core/img/icons/{{key}}.png"></i>
            <small>{{val}}</small>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
	        <h4 class="margin-top-10 text-center">Have Questions? Email us at <a href="mailto:info@outinscience.com">info@outinscience.com</a></h4>
      </div>
    </div>

  </div>

</section>
