<section data-ng-controller="TeamController">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<h2>Meet the Founders</h2>
				<dl class="team-list">
					<dt class="h3">Kyle Rader</dt>
					<dd>
						<a href="emailto:kyle.rader@ieee.org">kyle.rader@ieee.org</a> <br>
						Bellingham software engineer and graduate of the Computer Science department and current Master's student in Computer Science <small>(and general awesome person)</small>.
					</dd>

					<br>
					<dt class="h3">Rachel Owen</dt>
					<dd>
						<a href="emailto:owenr@students.wwu.edu">owenr@students.wwu.edu</a> <br>
						Math Fellow in the WWU Math Center and Physics research assistant and lab TA <small>(and general awesome person)</small>.
					</dd>

					<br>
					<dt class="h3">Regina Barber DeGraaff</dt>
					<dd>
						<a href="emailto:regina.barberdegraaff@wwu.edu">regina.barberdegraaff@wwu.edu</a> <br>
						Lecturer in the Physics department and diversity specialist <small>(and general awesome person)</small>.
					</dd>

					<br>
					<dt class="h3">Kristen Larson</dt>
					<dd>
						<a href="emailto:kristen.larson@wwu.edu">kristen.larson@wwu.edu</a><br>
						Associate Professor in the Physics department and bringer of wisdom<small>(and general awesome person)</small>.
					</dd>
			</div>
		</div>
	</div>
</section>
