<section data-ng-controller="TeamController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Meet the Founders</h2>
      </div>
    </div>
    <!-- TEAM LIST -->
    <div class="row team-list" class="">
      <div class="col-xs-12 col-sm-6">
        <h3>Kyle Rader</h3>
        <p>
          <a href="emailto:kyle.rader@ieee.org">kyle.rader@ieee.org</a> <br>
          Bellingham software engineer and graduate of the Computer Science department and current Master's student in Computer Science <small>(and general awesome person)</small>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Rachel Owen</h3>
        <p>
          <a href="emailto:owenr@students.wwu.edu">owenr@students.wwu.edu</a> <br>
          Math Fellow in the WWU Math Center and Physics research assistant and lab TA <small>(and general awesome person)</small>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Holly Christenson</h3>
        <p>
          <a href="emailto:christh5@students.wwu.edu">christh5@students.wwu.edu</a> <br>
          Physics research assistant and lab TA as well as a tutor in Western's Tutoring Center <small>(and general awesome person)</small>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Regina Barber DeGraaff</h3>
        <p>
          <a href="emailto:regina.barberdegraaff@wwu.edu">regina.barberdegraaff@wwu.edu</a> <br>
          Lecturer in the Physics department and diversity specialist <small>(and general awesome person)</small>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Kristen Larson</h3>
        <p>
          <a href="emailto:kristen.larson@wwu.edu">kristen.larson@wwu.edu</a><br>
          Associate Professor in the Physics department and bringer of wisdom <small>(and general awesome person)</small>.
        </p>
      </div>
    </div>
  </div>
</section>
