<section data-ng-controller="TheTeamController">

  <div class="container">
    <div class="row">
      <h1 class="text-center">Meet Team CodeLily</h1>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row team-pictures">
      <div class="col-xs-12 col-sm-4">
	<img src="/modules/core/img/team/Andrea.png" class="img-responsive" alt="Andrea Frostteam picture." />
	<h2 class="text-center text-bold">Andrea Frost</h2>
	<p>
	  Andrea graduated from Western Washington University with a degree in German in 2003.  She spent the following 10 years living in various places around the world from Austria to Alaska.
	  She is now finishing her M.S. in computer science and will graduate with Kyle in march 2016.  Andrea is all about promoting diversity in computer science and is a general badass.
	</p>
	<dl class="dl-horizontal">
	  <dt>CodeLily Role</dt>
	  <dd>Co-Founder</dd>
	  <dt>Text Editor</dt>
	  <dd>Sublime</dd>
	  <dt>Hobby</dt>
	  <dd>Crocheting</dd>
	  <dt>Quote</dt>
	  <dd>A quote</dd>
	  <dt>Movie</dt>
	  <dd>movie</dd>
	  <dt>Food</dt>
	  <dd>food</dd>
	</dl>
      </div>
      <div class="col-xs-12 col-sm-4">
	<img src="/modules/core/img/team/Kyle.png" class="img-responsive" alt="Andrea Frostteam picture." />
	<h2 class="text-center">Kyle Rader</h2>
	<p>
	  Kyle graduated with his B.S. in computer science from Western Washington University in 2014 and will finish his M.S. in computer science March 2016 with Andrea.  Growing up in Redmond, WA
	  he started writing code in 10th grade and fell in love by the time he was at WWU.  Kyle also received minors in embedded systems engineering and mathematics and is a general badass.
	</p>
	<dl class="dl-horizontal">
	  <dt>CodeLily Role</dt>
	  <dd>Co-Founder</dd>
	  <dt>Text Editor</dt>
	  <dd>Emacs</dd>
	  <dt>Hobby</dt>
	  <dd>Playing cello</dd>
	  <dt>Quote</dt>
	  <dd>"Strive not to be a success, but rather to be of value." <br> ~ Albert Einstein</dd>
	  <dt>Movie</dt>
	  <dd>Peacful Warrior</dd>
	  <dt>Food</dt>
	  <dd>Seafood</dd>
	</dl>
      </div>
      <div class="col-xs-12 col-sm-4">
	<img src="/modules/core/img/team/Kelly.png" class="center-block img-responsive" alt="Andrea Frostteam picture." />
	<h2 class="text-center">Kelly Lyon</h2>
	<p>Kelly is a senior at Western Washington University graduating this spring with her B.S. in mathematics and minors in computer science and French. She is a volunteer Microsoft TEALS mentor at
	  Sehome high school and is a general badass.
	</p>
	<dl class="dl-horizontal">
	  <dt>CodeLily Role</dt>
	  <dd>Co-Founder</dd>
	  <dt>Text Editor</dt>
	  <dd>Eclipse</dd>
	  <dt>Hobby</dt>
	  <dd>Rugby</dd>
	  <dt>Quote</dt>
	  <dd>"Life is all about chances. You might be safer not taking any. But playing it totally safe means you're only existing. Not living. I want to live." <br> ~ Ellen Hopkins, Tilt</dd>
	  <dt>Movie</dt>
	  <dd>Cloud Atlas</dd>
	  <dt>Food</dt>
	  <dd>Sandwiches</dd>
	</dl>
      </div>
    </div>
  </div>

</section>
