<section data-ng-controller="UseragreementtermsofserviceController">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
	<h3>User Agreement & Privacy Policy</h3>
	<ul>
	  <li>We will never sell any personal information from our members to outside sources or parties.</li>
	  <li>Any personal information that you wish to keep private except for demographic purposes will not be shared online. (e.g. You wish your name and personal details to be anonymous, but would like to contribute to a survey on the number of LGBT individuals in STEM fields at WWU)</li>
	  <li>You choose which information you wish to share publically (e.g. you don’t have to be on our Outlist, you can be anonymous on the Outlist, or you can share contact information on the Outlist as a resource).</li>
	  <li>All the information you provide is voluntary and can be removed at anytime.</li>
	  <li>We will not send you solicitations such as newsletters or event announcements without your permission. (Note: There is an automatic sign-up for newsletters)</li>
	</ul>

	<h3>Terms of Service</h3>
	<ul>
	  <li>We have the right to protect our users by terminating members (and their access) from our website for belligerent, disrespectful, or harmful behavior (online or otherwise).</li>
	  <li>We have the right to protect our users by removing belligerent, disrespectful, or harmful content published to the website by members.</li>
	  <li>We are not responsible for any content from third party websites linked from our homepage.</li>
	  <li>The logos, titles, and other content used on our website is considered intellectual property.</li>
	</ul>
      </div>
    </div>
  </div>
</section>
