<section data-ng-controller="HomeController">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">The Intentions</h2>
      	<ul class="terms-list">
      	  <li>The Out In Science team, as listed <a href="/#!/team">here</a> (hence forth "The Team" or "We"), is not selling your data. Period.</li>
      	  <li>We will do our best to keep your data safe and secure. However We <strong>do not</strong> guarantee the security of any information you provide.</li>
      	  <li>All information you enter will have a default visibility setting of private.</li>
      	  <li>All information you provide is voluntary and can be removed at anytime (by you or The Team).</li>
      	  <li>By default the only emails you will receive from Out In Science will be for account management.</li>
      	</ul>

      	<h2 class="text-center">The Terms</h2>
      	<ul class="terms-list">
      	  <li>We may, at any time, protect our users by terminating accounts, their access, removing content, blocking emails, or anything else we deem necessary, to protect against disrespectful, or harmful behavior (online or otherwise).</li>
      	  <li>We are not responsible for any content from third party websites linked from our homepage.</li>
      	  <li>We are not responsible for any content posted by any user's account.</li>
          <li>The logos, titles, and other content used on our website is considered intellectual property.</li>
          <li>Out In Science is not affiliated with any universities or colleges.</li>
      	</ul>

        <h2 class="text-center text-danger">DISCLAIMER:</h2>
        <p class="lead text-center text-danger">
          The Out In Science team does not assume responsibility for the accuracy of and will not be held liable for the consequences from, the use of the information on this website.
          By creating an account at outinscience.com you are assuming full liability for any consequences and or negative experiences that may result from using outinscience.com and the potential loss of personal information.
        </p>
      </div>
    </div>
  </div>
</section>
