<section data-ng-controller="PuzzleHuntLoginController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-512.png" />
            <small>Home</small>
          </a>
          <h2>Login</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form name="loginForm" class="form-horizontal" data-ng-submit="signin()" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="username">WWU Username</label>
              <div class="input-group">
                <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="lastf">
                <div class="input-group-addon">@students.wwu.edu</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
            </div>

            <div class="text-center form-group">
              <button type="submit" class="btn btn-primary">Log in</button>&nbsp; or&nbsp;
              <a href="/#!/puzzle-hunt/sign-up">Sign up</a>
            </div>
            <div class="forgot-password">
              <a href="/#!/puzzle-hunt/password/forgot">Forgot your password?</a>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
        <!--
        <h3 class="text-center">Sign in using your social accounts</h3>
        <a href="/auth/facebook" class="social-auth-link">
          <img src="/modules/users/img/buttons/facebook.png">
        </a>
      -->
      </div>
    </div>

  </div>
  <br>
</section>
