<section data-ng-controller="PuzzleHuntSignUpController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-512.png" />
            <small>Home</small>
          </a>
          <h2>Sign Up</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">Your email and phone will be hidden unless you choose to share them in the team finder.
          <br>(This <strong>does not</strong> make an Out In Science account)
        </div>
        <br>
        <form name="userForm" data-ng-submit="signup()" class="form-horizontal" autocomplete="off" novalidate="true">
          <fieldset>
            <div ng-show="!success">
              <!-- FIRST NAME -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['firstName'])}">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" ng-change="fieldChanged('firstName')">
                <div class="help-block" ng-show="error && error.errors['firstName']" data-ng-bind="error.errors['firstName']"></div>
              </div>

              <!-- LAST NAME -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['lastName'])}">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" ng-change="fieldChanged('lastName')">
                <div class="help-block" ng-show="error && error.errors['lastName']" data-ng-bind="error.errors['lastName']"></div>
              </div>

              <!-- EMAIL -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['email'])}">
                <label for="email">WWU Username</label>
                <div class="input-group">
                  <input type="text" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="lastf" ng-change="fieldChanged('email')">
                  <div class="input-group-addon">@students.wwu.edu</div>
                </div>
                <div class="help-block" ng-show="error && error.errors['email']" data-ng-bind="error.errors['email']"></div>
              </div>

              <!-- PHONE -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['phone'])}">
                <label for="phone">Phone Number &nbsp; <small>(Just numbers go here)</small></label>
                <input type="phone" id="phone" name="phone" class="form-control" ng-model="credentials.phone" placeholder="3601119999" ng-change="fieldChanged('phone')">
                <div class="help-block" ng-show="error && error.errors['phone']" data-ng-bind="error.errors['phone']"></div>
              </div>

              <!-- T-SHIRT -->
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="tShirt" name="tShirt" ng-model="credentials.tShirt"> I want to buy a Puzzle Master T-Shirt when they become available! (~$18)
                  </label>
                </div>
              </div>

              <!-- MAJOR -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['major'])}">
                <label for="major">Major (s) &nbsp; <small>(Or intended, or minors, or whatever)</small></label>
                <input type="text" id="major" name="major" class="form-control" ng-model="credentials.major" placeholder="Major/ Minor" ng-change="fieldChanged('major')">
                <div class="help-block" ng-show="error && error.errors['major']" data-ng-bind="error.errors['major']"></div>
              </div>

              <!-- PASSWORD -->
              <div class="form-group" ng-class="{ 'has-error': (error && error.errors['password'])}">
                <label for="password">Password &nbsp; <small>(Must be at least 8 characters)</small></label>
                <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" ng-change="fieldChanged('password')">
                <div class="help-block" ng-show="error && error.errors['password']" data-ng-bind="error.errors['password']"></div>
              </div>

              <div class="text-center form-group">
                <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
                <a href="/#!/puzzle-hunt/login" class="show-signup">Sign in</a>
              </div>
            </div>

            <div data-ng-show="success" class="text-center text-success">
              <strong ng-bind-html="success"></strong>
              <br><br>
              <a href="/#!/puzzle-hunt/login" class="btn btn-large btn-primary">Sign in</a>
            </div>

            <div data-ng-show="error" class="text-center text-danger">
              <strong ng-bind-html="error.message"></strong>
            </div>

          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <br>
</section>
