.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib/angular*
public/lib/jquery
public/dist/application*
public/lib/bootstrap*
app/tests/coverage/
.bower-*/
.idea/
config/mc-config.json
config/fb-config.json
config/mail-config.json
dump/
