<section data-ng-controller="CalendarController">
	<div class="row text-center">
		<h1>Need Kyle? <small class="text-capitalize">The calendar knows all :)</small></h1>
		<span>This calendar is on Pacific Time (UTC-08:00), Los Angeles time.</span>
		<hr>
	</div>
	<div class="row">
		<iframe class="center-block" src="https://www.google.com/calendar/embed?mode=WEEK&src=kyle.rader%40ieee.org&ctz=America/Los_Angeles" style="border: 0" width="{{calendarWidth}}" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>