<section data-ng-controller="ResumeController">

	<!-- Resume Header -->
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<h3 class="hidden-xs">Kyle W. Rader</h3>
			<h4 class="visible-xs" style="padding-top:14px;">Kyle W. Rader</h4>
		</div>
		<div class="col-xs-6 col-md-9">
			<div class="pull-right text-right" style="padding-top:15px;">
				<h5><a href="mailto:kyle.rader@ieee.org">kyle.rader@ieee.org</a> | (425) 241 - 7977</h5>
				<a class="btn btn-info" href="https://github.com/kyle-rader/resume/blob/master/Kyle_Rader_Resume.pdf?raw=true">Download PDF</a>
			</div>
		</div>
	</div>
	<hr>

	<!-- Education -->
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<h4 class="resume-section-header">Education</h4>
		</div>
		<div class="col-cs-12 col-md-9">
			<ul class="list-unstyled">
				<li class="school-definition" ng-repeat="school in schools">
					<span class="h5"><strong>{{school.name}}</strong></span> &nbsp;|&nbsp; {{school.degree}}
					<span ng-if="school.minors">
						<ul class="list-inline minors">
							<li><strong>Minors:</strong> </li>
							<li ng-repeat="minor in school.minors">{{minor}} </li>
						</ul>
					</span>
					<br ng-if="!school.minors">
					Graduated: <span ng-class="{'text-success':school.complete, 'text-danger':(!school.complete)}">{{school.graduated}}</span> &nbsp; | &nbsp; GPA: {{school.gpa}}
					<br>
				</li>
			</ul>
		</div>
	</div>
	<br>

	<!-- Experience -->
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<h4 class="resume-section-header hidden-xs">Experience</h4>
			<h5 class="resume-section-header visible-xs">Experience</h5>
		</div>
		<div class="col-cs-12 col-md-9">
			<ul class="list-unstyled">
				<li class="job-definition" ng-repeat="job in jobs">
					<span class="h5"><strong>{{job.company}}</strong></span> &nbsp;|&nbsp; {{job.title}}
					<span class="pull-right">{{job.dates}}</span>
					<br>
					<span>{{job.location}}</span>
					<ul class="list-square" ng-if="job.info">
						<li ng-repeat="info in job.info">
							{{info}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</section>