<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Dear {{name}},</p>
	<p>
		We are writing to let you know someone just tried to register or update an Out In Science account  with your email.
	</p>
	<p>
		The name used in the attempted account creation or update was "{{imposter}}".
	</p>
	<p>
		(Note that anyone can input any name and this does not fully identify the user in question)
	</p>
	<p>
		Your privacy is our primary concern. We take care not to leak any information that could indicate
		the existance of your account so that you may remain fully anonymous if you wish.
	</p>
	<br>
  <p>Cheers,</p>
	<p>The {{appName}} Dev Team</p>
</body>
</html>
