<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Dear {{name}},</p>
	<p>
		We are writing to let you know someone has attempted to update your Out In Science account email.
		If you made the this change intentionally then ignore this email and please verify your new email.
	</p>
	<p>
		If you did not make this change or you need to revert this change for any reason, click the link below.
	</p>
	<p><a href="{{url}}">Revert My Email</a></p>
	<p>(Or copy and paste into your browser {{url}})</p>
	<br>
  <p>Cheers,</p>
	<p>The {{appName}} Dev Team</p>
</body>
</html>
