<section data-ng-controller="PuzzleHuntInfoController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
            <small>Home</small>
          </a>
          <h2>Information</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <dl class="info-list">
          <dt>What is The WWU Great Puzzle Hunt?</dt>
          <dd>
            A puzzle hunt is like a scavenger hunt, with puzzles.
            Teams (4-6 is a nice size) travel on foot about campus (outdoors)
            solving a collection of puzzles (logic puzzles, word scrambles,
            trivia, etc.). Lots of prizes will be awarded. Whether your team
            places first or two hundred and fifty-first, competing in a puzzle
            hunt is a great way to stretch your mental muscles, bond with your
            teammates, and have a lot of fun!
          </dd>
          <dt>Who is invited?</dt>
          <dd>
            All WWU students, faculty, and staff regardless of major/department or puzzle-solving experience! 
            Sign up and create a new team of up to 6 people, or register as an
            individual and browse other teams and puzzlers looking for teammates.
          </dd>
        </dl>
      </div>
    </div>

  </div>
  <br>
</section>
