<section data-ng-controller="PuzzleHuntInfoController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
            <small>Home</small>
          </a>
          <h2>Information</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <dl class="info-list">
          <dt><i class="icon help-circled rb-red"></i>What is The WWU Great Puzzle Hunt?</dt>
          <dd>
            A puzzle hunt is like a scavenger hunt, with puzzles.
            Teams (4-6 is a nice size) travel on foot about campus (outdoors)
            solving a collection of puzzles (logic puzzles, word scrambles,
            trivia, etc.). Lots of prizes will be awarded. Whether your team
            places first or two hundred and fifty-first, competing in a puzzle
            hunt is a great way to stretch your mental muscles, bond with your
            teammates, and have a lot of fun!
          </dd>
          <dt><i class="icon people rb-orange"></i>Who is invited?</dt>
          <dd>
            All WWU students, regardless of major or puzzle-solving experience! 
            <a href="/#!/puzzle-hunt/sign-up" class="rb-red">Sign up</a> and create a team of up to 6 people, or register as an
            individual and browse other players and teams to bring a team together.
          </dd>
          <dt><i class="icon flask rb-yellow"></i>Do I have to be a math/science person to do well?</dt>
          <dd>
            NO! A common misconception is that only mathematically inclined people
            are good at solving puzzles. In this puzzle hunt, it will be to your
            advantage to have people on your team with knowledge of music, art,
            humanities and social sciences, as well as science and mathematics.
          </dd>
          <dt><i class="icon cash rb-green"></i>How much does it cost?</dt>
          <dd>
            This first year, it’s free! There will be a small fee for those who
            wish to purchase event Puzzle Master T-shirts.
            (More information to come.)
          </dd>
          <dt><i class="icon rainy rb-blue"></i>What if it rains?</dt>
          <dd>
            You live in Washington... it rains here.
          </dd>
          <dt>More info to come soon!</dt>
          <dd>
            <ul>
              <li>What should I bring to the puzzle hunt?</li>
              <li>How long will the puzzle hunt last?</li>
              <li>
                What kinds of puzzles will there be?
                (<a href="/#!/puzzle-hunt/puzzles" alt="Example Puzzles">Examples coming soon</a>)
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

  </div>
  <br>
</section>
