<section data-ng-controller="PuzzleHuntSignUpController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <h3 class="text-center">The First Annual</h3>
        <div class="puzzle-hunt-title center-block">
          <h2 class="">WWU Great</h2>
          <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
          <h2 class="">Puzzle Hunt</h2>
        </div>
      </div>
    </div>

    <br>

  </div>
  <br>
</section>
