<section data-ng-controller="PuzzleHuntController">
  <div class="container">
    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title center-block">
          <h1 class="">WWU</h1>
          <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
          <h1 class="">Puzzle Hunt</h1>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <dl class="puzzle-hunt-info">
          <dt>What is a puzzle hunt?</dt>
          <dd>It's pure distilled awesome problem solving with your friends from all disciplines!</dd>
          <br>
          <dt>When is this shin-dig?</dt>
          <dd>April 9th 2016</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
