<section data-ng-controller="PuzzleHuntPuzzlesController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
          </a>
          <h2>Puzzles</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <h2>Puzzles are coming soon :)</h2>
      </div>
    </div>

  </div>
  <br>
</section>
