<section data-ng-controller="PuzzleHuntController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <h2 class="text-center">The First Annual</h2>
        <div class="puzzle-hunt-title center-block">
          <h1 class="">WWU Great</h1>
          <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
          <h1 class="">Puzzle Hunt</h1>
        </div>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="col-xs-6 col-sm-4 text-center">
        <!-- Column Icon & Link -->
        <a target="_BLANK" href="/puzzle-hunt/info" class="title-link rb-green text-center">
          <i class="icon android-add-person fsize-48 rb-green"></i>
          <h2 class="text-center">Sign Up</h2>
        </a>
        <!-- Column data list -->
        <dl class="puzzle-hunt-info text-left">
          <dt>Sign up coming soon!</dt>
          <dd>
            <a target="_blank" class="text-center display-block" href="http://goo.gl/forms/IYyjb9fSq3">
              Get notified when registration opens.
            </a>
          </dd>
          <dt>Logistics</dt>
          <dd>
            <ul class="list-unstyled info-list text-center">
              <li>Free to register this year!</li>
              <li>Limited space so sign up fast!</li>
              <li>Form a new team or join your friends.</li>
              <li>Team size limit is 6</li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <!-- Column Icon & Link -->
        <a target="_BLANK" href="/puzzle-hunt/info" class="title-link rb-blue">
          <i class="icon info fsize-48 rb-blue"></i>
          <h2 class="text-center">Info</h2>
        </a>
        <!-- Column data list -->
        <dl class="puzzle-hunt-info text-left">
          <dt>What is a puzzle hunt?</dt>
          <dd>The puzzle hunt is an event for anyone and everyone to come together, solve fun puzzles, and win prizes!</dd>
          <br>
          <dt>When is this shin-dig?</dt>
          <dd class="text-center">April 9th 2016<br>11:00 AM - 3:00 PM</dd>
        </dl>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <!-- Column Icon & Link -->
        <a target="_BLANK" href="/puzzle-hunt/info" class="title-link rb-orange">
          <i class="icon cube fsize-48 rb-orange"></i>
          <h2 class="text-center">Puzzles</h2>
        </a>
        <!-- Column data list -->
        <dl class="puzzle-hunt-info text-left">
          <dt>Check out exmaple puzzles!</dt>
          <dd>It will be advantageous to have people from different backgrounds on your team!</dd>
        </dl>
      </div>

    </div>
  </div>
  <br>
</section>
