<section data-ng-controller="PuzzleHuntSignUpController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
            <small>Home</small>
          </a>
          <h2>Sign Up</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <h2>Sign up is coming soon :)</h2>
      </div>
    </div>

  </div>
  <br>
</section>
