<section data-ng-controller="PuzzleHuntSignInController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-250.png" />
          <h2>Login</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <h2>Login is coming soon :)</h2>
      </div>
    </div>


  </div>
  <br>
</section>
