<section data-ng-controller="CoolThingsController">
	<div class="row text-center">
		<h1 class="text-uppercase">Cool Things</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<h4>From Kyle</h4>
			<hr>
			<ul>
		    	<li><a target="_blank" href="https://docs.google.com/presentation/d/1fJsNiXxPP82q3OeNOvui_IpTUl9Y10dnW2AWTRo8UIs/edit?usp=sharing">Topic Branch git Workflow</a></li>
			</ul>
		</div>
		<div class="col-sm-6 col-md-3">
			<h4>Coding</h4><hr>
            <ul class="list-flat">
                <li><a  target="_blank" href="https://www.codeschool.com/">Code School</a></li>
                <li><a  target="_blank" href="http://www.tutorialspoint.com/computer_programming_tutorials.htm">Tutorials Point</a></li>
                <li><a  target="_blank" href="http://www.codecademy.com/">Codecademy</a></li>
                <li><a  target="_blank" href="http://code.org/">Code.org</a></li>
                <li><a  target="_blank" href="http://girldevelopit.com/">Girl Develop It</a></li>
                <li><a  target="_blank" href="https://www.udacity.com/course/cs101">Stanford Intro to CS</a></li>
                <li><a  target="_blank" href="https://coderdojo.com/">Code Dojo</a></li>
                <li><a  target="_blank" href="http://nodeschool.io/">Node School</a></li>
            </ul>
		</div>
		<div class="col-sm-6 col-md-3">
			<h4>Cool Things</h4><hr>
            <ul class="list-flat">
                <li><a href="http://www.ndpsoftware.com/git-cheatsheet.html#loc=remote_repo;">Best Git Cheatsheet</a></li>
                <li><a  target="_blank" href="http://www.synapse.com/wall-of-cool">All the Cool Things Are Here</a></li>
                <li><a  target="_blank" href="http://xamarin.com/">Xamarin</a></li>
                <li><a  target="_blank" href="http://d3js.org/">D3.js</a></li>
                <li><a  target="_blank" href="http://sass-lang.com/">Sass</a></li>
                <li><a  target="_blank" href="http://coffeescript.org/">CoffeeScript</a></li>
                <li><a  target="_blank" href="http://phonegap.com/">Phone Gap</a></li>
                <li><a  target="_blank" href="http://www.nand2tetris.org/">Nand to Tetris</a></li>
                <li><a  target="_blank" href="https://koding.com/Activity">Koding</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
			<h4>Western</h4><hr>
            <ul class="list-flat">
                <li><a  target="_blank" href="https://cse.wwu.edu/computer-science">WWU Computer Science</a></li>
                <li><a  target="_blank" href="https://support.cs.wwu.edu/index.php/Main_Page">CS Support</a></li>
                <li><a  target="_blank" href="http://sw.cs.wwu.edu/~nordwap/">CS Web Cams</a></li>
                <li><a  target="_blank" href="http://www.wwu.edu/wwuarchitect/pages/fd/pdf/campusfloorplans/CF04W001.pdf">Dept 4th Floor</a></li>
                <li><a  target="_blank" href="http://www.wwu.edu/wwuarchitect/pages/fd/pdf/campusfloorplans/CF01W001.pdf">Dept 1st Floor</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
        	<h4>Programming Languages</h4><hr>
			<ul class="list-flat">
			    <li><a target="_blank" href="http://doc.rust-lang.org/">Rust</a></li>
			    <li><a target="_blank" href="https://ocaml.org/">OCaml</a></li>
			</ul>
		</div>
	</div>
</section>