@media screen and (max-width: @screen-xs-max) {
  section[data-ng-controller="PuzzleHuntController"] div.container {
    padding: 0;
  }

  h1.title {
    .h3
  }
}

section[data-ng-controller="PuzzleHuntController"] {
  img.puzzle-logo {
    max-width: 150px;
  }

  div.puzzle-hunt-title {
    text-align: center;

    @media screen and (max-width: @screen-xs-max) {
      h1 {
        display: block;
      }

      img {
        max-height: 115px;
        display: block;
      }
    }
    @media screen and (min-width: @screen-sm-min) {
      h1 {
        display: inline-block;
        line-height: 130px;
        vertical-align: bottom;
        font-size: 3em;
      }

      img {
        max-height: 150px;
        padding: 15px;
        display: inline-block;
      }
    }
  }

  dl.puzzle-hunt-info {
    dt {
      .h4;
      text-align: center;
    }
  }

  a.title-link, a.title-link:hover {
    text-decoration: none;
    display: block;
  }

  ul.info-list li + li {
    padding-top: 10px;
  }
}

div.puzzle-hunt-title-small {
  text-align: left;
  h2, a {
    display: inline-block;
  }
  img, small {
    display: block;
  }
  small {
    display: block;
    padding: 3px;
  }
  a, a:hover {
    color: @rb-black;
    text-decoration: none;
  }

  @media screen and (max-width: @screen-xs-max) {
    h2 {
      vertical-align: top;
      padding-left: 10px;
    }
    img {
      max-width: 5em;
    }
  }
  @media screen and (min-width: @screen-sm-min) {
    h2 {
      vertical-align: top;
      padding-left: 15px;
    }
    img {
      max-width: 6em;
    }
  }
}

dl.info-list {
  dd + dt {
    padding-top: 10px;
  }
  dt {
    .h3;
  }
  dd {
    font-size: 1.1em;
  }
}
