@media screen and (max-width: @screen-xs-max) {
  section[data-ng-controller="PuzzleHuntController"] div.container {
    padding: 0;
  }

  h1.title {
    .h3
  }
}

section[data-ng-controller="PuzzleHuntController"] {

  div.puzzle-hunt-title {
    text-align: center;

    @media screen and (max-width: @screen-xs-max) {
      h1 {
        display: block;
      }

      img {
        max-height: 160px;
        display: block;
      }
    }
    @media screen and (min-width: @screen-sm-min) {
      h1 {
        display: inline-block;
        line-height: 160px;
        vertical-align: bottom;
        font-size: 3em;
      }

      img {
        max-height: 175px;
        padding: 15px;
        display: inline-block;
      }
    }
  }

  dl.puzzle-hunt-info {
    dt {
      .h4;
      text-align: center;
    }
  }

  a.title-link, a.title-link:hover {
    text-decoration: none;
    display: block;
  }

  ul.info-list li + li {
    padding-top: 5px;
  }
}

div.puzzle-hunt-title-small {
  text-align: center;
  h2, a {
    display: inline-block;
  }
  img, small {
    display: block;
  }
  small {
    display: block;
    padding: 3px;
  }
  a, a:hover {
    color: @rb-black;
    text-decoration: none;
  }

  @media screen and (max-width: @screen-xs-max) {
    h2 {
      vertical-align: top;
      padding-left: 10px;
    }
    img {
      max-width: 5em;
    }
  }
  @media screen and (min-width: @screen-sm-min) {
    h2 {
      vertical-align: top;
      padding-left: 15px;
    }
    img {
      max-width: 6em;
    }
  }
}
/* Logistics and Contact on hompage */
dl.puzzle-hunt-big-info {
  text-align: center;
  dt {
    .h3;
  }
  dd {
    font-size: 1.2em;
  }
}

/* For INFO Page */
dl.info-list {
  dd + dt {
    padding-top: 10px;
  }
  dt {
    .h3;
  }
  dd {
    font-size: 1.2em;
  }
  i {
    display: inline-block;
    padding-right: 10px;
    @media screen and (max-width: @screen-xs-max) {
      font-size: 34pt;
    }
    @media screen and (min-width: @screen-sm-min) {
      font-size: 48pt;
    }
  }
}

.puzzlehunt-donate-button {
  background-color: rgb(186,216,10);
  color: rgb(0,63,135);
  padding: 10px;
  font-size: 1.6em;

  &:hover {
    background-color: rgb(24,142,217);
    color: white;
  }
}

.puzzlehunt-donate-text{
  color: rgb(0,63,135)
}

ul.team-list {
  li {
    overflow: auto;
  }
}
form.team-item-form {
  margin-top: 5px;
}

dl.member-list {
  .member + .member {
    margin-top: 10px;
  }
}

ul.invite-list li {
  padding: 5px 0px;
}
