<section data-ng-controller="PuzzleHuntInfoController">
  <div class="container">

    <div class="row">
      <div class="xs-col-12">
        <div class="puzzle-hunt-title-small">
          <a href="/#!/puzzle-hunt" alt="WWU Puzzle Hunt Home" class="text-center rb-black">
            <img class="img-responsive center-block puzzle-logo" src="/modules/puzzle-hunt/img/logo-512.png" />
            <small>Home</small>
          </a>
          <h2>Information</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="xs-col-12">
        <dl class="info-list">
          <dt><i class="icon help-circled rb-red"></i>What is The WWU Great Puzzle Hunt?</dt>
          <dd>
            A puzzle hunt is like a scavenger hunt, with puzzles.
            Teams (4-6 is a nice size) travel on foot about campus (outdoors)
            solving a collection of puzzles (logic puzzles, word scrambles,
            trivia, etc.). Lots of prizes will be awarded. Whether your team
            places first or two hundred and fifty-first, competing in a puzzle
            hunt is a great way to stretch your mental muscles, bond with your
            teammates, and have a lot of fun!
          </dd>
          <dt><i class="icon calendar rb-orange"></i>When is it?</dt>
          <dd>
            Saturday April 9th, 2016 @ 10:00 AM, Red Square
          </dd>
          <dt><i class="icon people"></i>Who is invited?</dt>
          <dd>
            All WWU students, regardless of major or puzzle-solving experience! 
            <a href="/#!/puzzle-hunt/sign-up" class="rb-red">Sign up</a> and create a team of up to 6 people, or register as an
            individual and browse other players and teams to bring a team together.
          </dd>
          <dt><i class="icon flask rb-yellow"></i>Do I have to be a math/science person to do well?</dt>
          <dd>
            NO! A common misconception is that only mathematically inclined people
            are good at solving puzzles. In this puzzle hunt, it will be to your
            advantage to have people on your team with knowledge of music, art,
            humanities and social sciences, as well as science and mathematics.
          </dd>
          <dt><i class="icon cash rb-green"></i>How much does it cost?</dt>
          <dd>
            This first year, it’s free! There will be a small fee for those who
            wish to purchase event Puzzle Master T-shirts.
            (More information to come.)
          </dd>
          <dt><i class="icon rainy rb-blue"></i>What if it rains?</dt>
          <dd>
            You live in Washington... it rains here.
          </dd>
          <dt>What should I bring to the puzzle hunt?</dt>
          <dd>
            In case of rain bring a waterproof pack to hold:
            <ul>
              <li><strong>Required:</strong> A smart phone. At least one person on each team should have a smart phone.</li>
              <li>Notepad and/or clipboard and graph paper might come in handy.</li>
              <li>Pencils, pens, highlighters</li>
              <li>Scissors (enough for several people on the team to share).  (Don't run with scissors!)</li>
              <li>Scotch Tape.  (Or duct tape, if you're a duct tape kind of person)</li>
              <li>Umbrella... not for you, for the paper.</li>
            </ul>
          </dd>
          <dt>How long will the puzzle hunt last?</dt>
          <dd>
            Registration and check-in will start at 10:00 a.m. in Red Square where your team will receive a rules packet and 
            team T-shirts pre-ordered by March 18, 2016. The Puzzle Hunt will start at 11:00 a.m. when the first puzzle is released. 
            Prizes will be awarded at approximately 3:00 p.m.
          </dd>
          <dt>What kinds of puzzles will there be?</dt>
          <dd>
            <a href="/#!/puzzle-hunt/puzzles" alt="Example Puzzles">Example Puzzles</a>
            <br>
            Each puzzle results in a code word or words that must be entered to stop the clock for that problem. Time is a factor, so make sure everyone on the team is assigned to a job. Some members can cut out objects if needed. If a problem has several parts, see if different members can tackle different parts independently.
            <br><br>
            Once the proper code word(s) has been entered, your team will be sent to the next destination.
            If your team is stuck, you may ask for hints. Each hint will add time to your clock. This information will be in the rules packet.
            Not all teams will travel the same paths.
            At each destination, you will need to scan a QR code to receive your next puzzle and re-start the clock.
          </dd>
          <dt>What do the T-Shirts look like?</dt>
          <dd>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <a href="/modules/puzzle-hunt/img/T-Shirt-front.png" target="_blank" class="thumbnail">
                  <img src="/modules/puzzle-hunt/img/T-Shirt-front.png" alt="T-Shirt Front Side">
                </a>
              </div>
              <div class="col-xs-12 col-sm-4">
                <a href="/modules/puzzle-hunt/img/T-Shirt-back.png" target="_blank" class="thumbnail">
                  <img src="/modules/puzzle-hunt/img/T-Shirt-back.png" alt="T-Shirt Back Side">
                </a>
              </div>
            </div>
          </dd>
      	  <dt>Donations are appreciated!</dt>
          <dd>
      	    <a href="https://securelb.imodules.com/s/1710/campaign/index.aspx?sid=1710&gid=2&pgid=467&cid=1175&dids=167&bledit=1"
      	       class="btn btn-large puzzlehunt-donate-button" target="_blank">Donate</a>
          </dd>
        </dl>
      </div>
    </div>

  </div>
  <br>
</section>
