<section data-ng-controller="EventsController">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Upcoming Events</h1>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ul class="event-list">
					<li class="event" ng-repeat="event in events">
						<div class="date">
							{{event.month}}
							<span class="day">{{event.dayNum}}</span>
						</div>
						<div class="title">{{event.title}}</div>
						<div class="description">{{event.description}}</div>
						<a target="_BLANK" href="{{event.link}}">{{event.link}}</a>
						<a ng-show="event.info && !event.showInfo" class="more-info-btn" href ng-click="event.showInfo = !event.showInfo">More Info</a>
						<a ng-show="event.info && event.showInfo" class="less-info-btn" href ng-click="event.showInfo = !event.showInfo">Less Info</a>
						<div class="more-info" ng-show="event.showInfo" ng-animate ng-bind-html="event.info"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
