html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: @body-off-color;
	border-top: 1px solid @gray-lighter;

	ul.cert-list li {
		vertical-align: top;
	}

	div.row > div {
		padding-top: 10px;
	}
}