html, body, header, section {
  max-width: 100%;
}

.no-text-transform {
    text-transform: none;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

body {
    margin-top: 80px;
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/* Color buttons */
li.li-rb-red {
	.li-rb-color-btn(@rb-red);
}
li.li-rb-orange {
	.li-rb-color-btn(@rb-orange);
}
li.li-rb-yellow {
	.li-rb-color-btn(@rb-yellow);
}
li.li-rb-green {
	.li-rb-color-btn(@rb-green);
}
.navbar-nav > li.li-rb-blue,
li.li-rb-blue {
	.li-rb-color-btn(@rb-blue);
}
li.li-rb-purple {
	.li-rb-color-btn(@rb-purple);
}

.rb-red {
  color: @rb-red;
}
.rb-orange {
  color: @rb-orange;
}
.rb-yellow {
  color: @rb-yellow;
}
.rb-green {
  color: @rb-green;
}
.rb-blue {
  color: @rb-blue;
}
.rb-purple {
  color: @rb-purple;
}
