.hexagon-wrapper {
	text-align: center;
	margin: 20px;
	position: relative;
	display: inline-block;
}
.hexagon {
	height: 100%;
	width: calc(100% * 0.57735);
	display: inline-block;
	z-index: 2;
	//box-shadow: 0 0 @shadow-size rgba(0,0,0,0.35);

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: calc((100% / 2) - ((100% * 0.57735) / 2));
		width: inherit;
		height: inherit;
		background-color: inherit;
		z-index: -1;
		//box-shadow: 0 0 15px rgba(0,0,0,0.35);
	}
	&:before {
		transform: rotateZ(60deg);
	}
	&:after {
		transform: rotateZ(-60deg);
	}
}

.hex1 {
	width: 75px;
	height: 75px;
}
.hex2 {
	width: 125px;
	height: 125px;
}
.hex3 {
	width: 150px;
	height: 150px;
}
.purple-hex-bg {
	background-color: #6600FF;
}
.green-hex-bg {
	background-color: #009900;
}
.orange-hex-bg {
	background-color: #FF9933;
}
.red-hex-bg {
	background-position: #D11919;
}