i.icon {
	.ion-font();

	&.fsize-12 {
		font-size: 12pt;
	}

	&.fsize-16 {
		font-size: 16pt;
	}

	&.fsize-20 {
		font-size: 20pt;
	}

	&.fsize-24 {
		font-size: 24pt;
	}

	&.fsize-28 {
		font-size: 28pt;
	}

	&.fsize-34 {
		font-size: 34pt;
	}

	&.fsize-42 {
		font-size: 42pt;
	}

	&.facebook:before {
		.ion-icon("social-facebook");
		color: #3b5998;
	}

	&.twitter:before {
		.ion-icon("social-twitter");
		color: #00aced;
	}

	&.linkedin:before {
		.ion-icon("social-linkedin");
		color: #007bb6;
	}

	&.github:before {
		.ion-icon("social-github");
		color: #000;
	}

	&.code:before {
		.ion-icon("code");
		color: white;
	}
	&.earth:before {
		.ion-icon("earth");
		color: white;
	}
	&.heart:before {
		.ion-icon("heart");
		color: white;
	}

	&.edit:before {
		.ion-icon("android-create");
		color: #808080;
	}
	&.x:before {
		.ion-icon("android-close");
		color: #808080;
	}

	&.earth:before {
		.ion-icon("earth");
		color: @rb-blue;
	}

	&.people:before {
		.ion-icon("ios-people");
		color: @rb-purple;
	}

	&.locked:before {
		.ion-icon("locked");
		color: @rb-green;
	}
}

i.sci-icon {
	display: block;
	border-radius: 5px;
	padding: 4px;
	&.biology {
		background: @rb-green;
	}
	&.astronomy {
		background: @rb-red;
	}
	&.vehicleDesign {
		background: @rb-yellow;
	}
	&.scienceEducation {
		background: @rb-red;
	}
	&.plasticsComposites {
		background: @rb-purple;
	}
	&.physics {
		background: @rb-red;
	}
	&.neuroscience {
		background: @rb-blue;
	}
	&.math {
		background: @rb-purple;
	}
	&.materialScience {
		background: @rb-orange;
	}
	&.manufacturingEngineering {
		background: @rb-blue;
	}
	&.industrialDesign {
		background: @rb-green;
	}
	&.environmentalScience {
		background: @rb-green;
	}
	&.electricalEngineering {
		background: @rb-purple;
	}
	&.computerScience {
		background: @rb-blue;
	}
	&.chemistry {
		background: @rb-yellow;
	}
	&.geology {
		background: @rb-orange;
	}
}
