<section data-ng-controller="TheOutListController">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h2>The Out List will be out soon!</h2>
				<p>
					The Out List will be a list of people who are out in science and wish
					to share (anonymously or not) with the community.  Our mission is to bring
					visibility to the LGBTQ+ in Science community and show anyone feeling out of place
					that they have a home here. :)
				</p>
				<p>
					Whether you are LGBTQ+ or not we welcome you to join Out in Science as we begin to build this community.
				</p>
			</div>
		</div>
	</div>
</section>
