<div class="row outlist-entry">
  <div class="col-xs-12">
    <span class="name">{{user.firstName}} {{user.lastName}}</span>
    <span class="pronouns" ng-show="user.pronouns">({{user.pronouns}})</span>
  </div>

  <div class="col-xs-2">
    <span class="email" ng-show="user.email.length > 0"><a href="mailto:{{user.email}}"><i class="icon email fsize-24"></i></a></span>
  </div>
  <div class="col-xs-10">
    <span class="phone" ng-show="user.phone.length > 0"><a href="tel:{{user.phone}}"><i class="icon tel fsize-24"></i></a></span>
  </div>

  <div class="col-xs-12" ng-show="user.orientation">
    <strong class="orientation">Orientation:</strong>{{user.orientation}}
  </div>

  <div class="col-xs-12" ng-show="user.primaryTags">
    <primary-tags tags="user.primaryTags"></primary-tags>
  </div>

  <div class="col-xs-12 bio" ng-show="user.bio">
    <strong>Bio:</strong>
    <p ng-bind="user.bio"></p>
  </div>

</div>
