@media screen and (max-width: @screen-xs-max) {
  section[data-ng-controller="TheOutListController"] div.container {
    padding: 0;
  }
}

div.outlist-entry {
  margin: 5px 0 15px 0;
  span.name,
  strong.orientation {
    margin-right: 5px;
  }
  background-color: fadeout(color(@rb-purple), 96.5%);
  border-radius: 10px;
  padding: 5px 0px;  

  @media screen and (max-width: @screen-sm-max) {
    div.tags {
      label {
        float: left;
        &:nth-child(10) {
          clear: left;
        }
      }
      label + label:not(:nth-child(10)) {
        margin-left: 5px;
      }
    }
  }
  @media screen and (min-width: @screen-md-min) {
    div.tags {
        label + label {
        margin-left: 11px;
      }
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    span.name {
      font-size: 18px;
    }
    font-size: 14px;
    div.tags {
      label {
        float: left;
        &:nth-child(10) {
          clear: left;
        }
      }
      label + label:not(:nth-child(10)) {
        margin-left: 5px;
      }
      img {
        width: 20px;
      }
    }
  }
  @media screen and (min-width: @screen-sm-min) {
    span.name {
      font-size: 24px;
    }
    font-size: 16px;
    div.tags {
      img {
        width: 35px;
      }
    }
  }
}

strong.tags-label {
  display: block;
  margin-bottom: 5px;
}

div.tags {
  margin: 10px 0px;
  label:not(.active) {
      opacity: .15;
  }
}
